.b {
    background-color: white !important;
}
#headername {
    background: rgb(81, 81, 197);
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    color: white;
    font-size: 30px;
}
.links {
    color: rgb(81, 81, 197);
    font-size: 25px;
}
nav {
    border-bottom: 6px solid grey;
}
.aboutme {
    border: 1px solid grey;
    padding: 20px;
    margin-top: 50px;
}