* {
    background-color: rgb(245, 240, 240);
}
.b {
    background-color: rgb(245, 240, 240) !important;
}
#headername {
    background: rgb(81, 81, 197);
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    color: white;
    font-size: 30px;
}
.links {
    color: rgb(81, 81, 197);
    font-size: 25px;
}
nav {
    border-bottom: 6px solid grey;
}
.aboutme {
    border: 1px solid grey;
    padding: 20px;
    margin-top: 50px;
}

p {
    font-size: 20px;
    padding: 10px;
    text-indent: 80px;
}

img {
    padding-right: 30px;
}
body {
    background: rgb(245, 240, 240);
}
#aboutme {
    margin: 10px;
    border-bottom: 1px solid black;
    padding: 10px;
}
 #Portfolio {
     margin: 10px;
     border-bottom: 1px solid black;
     padding: 10px;
 }
 .portImg {
    height: 400px;
    width: 400px;
 }